<launch>
    <node 
        pkg = "rosbag"
        type="play" 
        name="player" 
        args="--clock -l $(find xplorer)/results/xplorer.bag"
    />
    <node
        pkg = "xplorer"
        name = "xplorer"
        type = "xplorer"
    />
    <test
        test-name = "testxplorer"
        pkg = "xplorer"
        type = "testxplorer"
    />
</launch>
